{% extends 'base.html' %}

{% block content %}
<style>
  .card {
    background-color: #ffffff; /* Use base color */
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    text-align: center; /* Center align the content */
    width: 80%; /* Set the width of the card */
    max-width: 600px; /* Set the maximum width of the card */
    margin: auto; /* Center the card horizontally */
    padding: 30px; /* Add padding to the card */
    margin-top: 10px;
  }
  .card:hover {
    box-shadow: 0px 10px 15px rgba(0,0,0,0.5);
}
  .card-title {
    font-family: 'Roboto', sans-serif; /* Use a modern sans-serif font */
    font-size: 2em;
    color: #A36D68; /* Use accent color for heading */
    margin-bottom: 40px;
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 2px; /* Add letter spacing for emphasis */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle text shadow */
    transition: color 0.3s ease; /* Add smooth color transition */
}

.card-title:hover {
    color: #892C25; /* Darken accent color on hover */
}

  .card-text {
    font-family: 'Roboto', sans-serif; /* Use the same font for paragraphs */
    font-size: 1em;
    color: #9c3f37;; /* Use a slightly darker shade for text */
    margin-bottom: 10px;
  }
  
</style>

<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Hold on, Your Password Reset is Coming!🚀</h3>
          <p class="card-text">We've sent your secret password reset instructions <br> to the email address you provided. <br> Keep an eye out! <br></p>
          <p class="card-text">If it takes a little longer than expected, <br> double-check your email and take a peek in your spam folder.✉️ <br> Our messages love to go on unexpected adventures! <br> 🐦</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
